.catalog {
  padding-top: 48px;
  display: flex;
  justify-content: center;
  gap: 64px;
}

.empty_space {
  width: 888px;
}

.fine_speech {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #101828;
}
